.home{
  padding-top: 0.13rem;
}
// search
.search{
  overflow: hidden;
  padding-left: 0.30rem;
  margin-bottom: 0.34rem;
  p{
    font-size: 0.28rem;
    line-height: 0.64rem;
  }
  .search-input{
    width: 5.04rem;
    height: 0.64rem;
    margin-left: 0.6rem;
    background-color: #dedede;
    border-radius: 0.64rem;
  }
}
// nav
.nav-wrap{
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.26rem;
  // padding-right: 0.32rem;
  .nav-list{
    width: 99999px;
    padding: 0rem 0.32rem;
    .nav-item{
      height: 0.32rem;
      line-height: 0.32rem;
      margin-right: 0.5rem;
      font-size: 0.32rem;
      &.check{
        color: #2FD3A4;
      }
    }
  }
}
// banner
.banner{
  margin-bottom: 0.28rem;
  .banner-img{
    width: 100%;
    height: 3.64rem;
    background-color: #ccc;
  }
}
// city-hot
.city-hot{
  padding: 0rem 0.30rem;
  .hot-title{
    margin-bottom: 0.30rem;
    // height: 0.53rem;
    overflow: hidden;
    h4{
      font-size: 0.4rem;
      color: #333;
    }
    span{
      padding-top: 0.1rem;
      font-size: 0.26rem;
      color: #999;
    }
  }
  .hot-list{
  }
  .hot-item{
    width: 50%;
    text-align: left;
    .item-img{
      display: inline-block;
      width: 3.20rem;
      height: 2.80rem;
      border-radius: 0.1rem;
      background-color: #ccc;
    }
    .item-title{
      font-weight: bold;
      font-size: 0.30rem;
      color: #333;
    }
    .item-summary{
      margin: 0.1rem 0rem;
      padding: 0.1rem 0rem;
      font-size: 0.26rem;
      color: #666;
    }
    .item-stat{
      padding-right: 0.3rem;
      font-size: 0.26rem;
      color: #151515;
      span{
        color: #FC4A50;
      }
    }
  }
}