.my{
  // padding-top: 0.13rem;
}
// header
.my .header{
  position: absolute;
  width: 100%;
  padding-top: 0.13rem;
  // padding-left: 0.6rem;
  .back{
    margin-left: 0.6rem;
  }
  .seting{
    margin-right: 0.3rem;
  }
  img{
    width: 0.56rem;
  }
}
